:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .nav {
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
}
header .nav__white {
  background-color: #ffffff;
}
header .nav__white .nav__logo-text {
  color: #000000;
}
header .nav__white .nav__link {
  color: #000000;
}
header .nav__white .nav__link::after {
  background-color: #000000;
}
header .nav__logo {
  width: 50%;
}
header .nav__logo > a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .nav__logo-text {
  font-size: 1.5rem;
  color: #ffffff;
}
header .nav__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
header .nav__link {
  color: #ffffff;
  position: relative;
}
header .nav__link.active {
  font-weight: 500;
}
header .nav__link.active::after {
  width: 100%;
}
header .nav__link::after {
  content: "";
  position: absolute;
  top: 1.4rem;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}
header .nav__link:hover::after {
  width: 100%;
}
header .nav__link-tab {
  display: none;
}
header .nav__toggler-btn {
  display: none;
}
header .hero {
  height: -moz-max-content;
  height: max-content;
}
header .hero__images {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}
header .hero__images::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843));
}
header .hero__images-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  animation: fade 1.5s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
header .hero__text {
  position: absolute;
  top: 40%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
header .hero__text-heading, header .hero__text-quote {
  color: #ffffff;
  opacity: 90%;
}
header .hero__text-heading {
  font-size: 3rem;
  font-weight: 700;
}
header .hero__text-heading > span {
  font-size: 2rem;
  font-weight: 500;
}
header .hero__text-quote {
  font-family: "Fasthand", cursive;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  body header .nav {
    padding: 1rem 1.5rem;
  }
  body header .nav__logo {
    width: 30%;
  }
  body header .nav__white .nav__toggler-harmburger {
    background-color: #000000;
  }
  body header .nav__white .nav__toggler-harmburger.open {
    background-color: transparent;
  }
  body header .nav__white .nav__toggler-harmburger::before, body header .nav__white .nav__toggler-harmburger::after {
    background-color: #000000;
  }
  body header .nav__toggler-btn {
    display: block;
    border: none;
    background: transparent;
    width: 2rem;
    height: 1rem;
  }
  body header .nav__toggler-btn:hover {
    cursor: pointer;
    opacity: 80%;
  }
  body header .nav__toggler-harmburger {
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  body header .nav__toggler-harmburger::before, body header .nav__toggler-harmburger::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background-color: #ffffff;
  }
  body header .nav__toggler-harmburger::before {
    top: -7px;
  }
  body header .nav__toggler-harmburger::after {
    top: 7px;
  }
  body header .nav__toggler-harmburger.open {
    background: transparent;
    transform: rotate(720deg);
  }
  body header .nav__toggler-harmburger.open::before, body header .nav__toggler-harmburger.open::after {
    background-color: #000000;
  }
  body header .nav__toggler-harmburger.open::before {
    transform: rotate(45deg) translate(10px);
  }
  body header .nav__toggler-harmburger.open::after {
    transform: rotate(-45deg) translate(9px);
  }
  body header .nav__list {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100vh;
    padding: 0 2rem;
    background-color: #ffffff;
    transition: left 0.3s ease-in-out;
  }
  body header .nav__list.open {
    left: 50%;
  }
  body header .nav__item {
    padding: 1rem 0;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;
  }
  body header .nav__item:first-of-type {
    padding-top: 3rem;
  }
  body header .nav__item.open {
    transform: translateX(0);
  }
  body header .nav__link {
    color: #000000;
  }
  body header .nav__link::after {
    background-color: #000000;
  }
  body main .section__filters .filters__form-input {
    width: 60%;
  }
  body main .section__filters .filters__list {
    width: 60%;
  }
  body main .section__filters .filters__recents-list > li {
    margin-right: 1rem;
  }
  body main .section__gallery .gallery {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }
  body main .section__gallery .lightbox__img {
    width: 70%;
  }
  body main .section__gallery .lightbox__btn-prev {
    left: 5%;
  }
  body main .section__gallery .lightbox__btn-next {
    right: 5%;
  }
}
.nav__item:nth-child(1) {
  transition-delay: 0.35s;
}

.nav__item:nth-child(2) {
  transition-delay: 0.45s;
}

.nav__item:nth-child(3) {
  transition-delay: 0.55s;
}

.nav__item:nth-child(4) {
  transition-delay: 0.65s;
}

@media (max-width: 480px) {
  body .loader-wrapper .loader {
    font-size: 3rem;
  }
  body .loader-wrapper .loader::before {
    height: 3rem;
  }
  body header .hero__text {
    padding: 0 1rem;
  }
  body header .hero__text-heading {
    font-size: 2rem;
  }
  body header .hero__text-heading > span {
    font-size: 1.5rem;
  }
  body header .hero__text-quote {
    font-size: 1rem;
  }
  body main .section__filters .filters__form-input {
    width: 80%;
  }
  body main .section__filters .filters__list {
    width: 80%;
  }
  body main .section__gallery {
    padding: 0 1rem;
  }
  body main .section__gallery .gallery {
    gap: 1rem;
  }
  body main .section__gallery .lightbox__img {
    width: 80%;
  }
  body main .section__gallery .lightbox__btn-prev {
    left: 0.5%;
  }
  body main .section__gallery .lightbox__btn-next {
    right: 0.5%;
  }
}
.section__filters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__filters .filters {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}
.section__filters .filters__form {
  position: absolute;
  top: 2rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__filters .filters__form-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.section__filters .filters__form-input {
  padding: 0.8rem 1rem;
  width: 40%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  font: inherit;
  background-color: #f9f9f9;
}
.section__filters .filters__form-input:focus, .section__filters .filters__form-input:active {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #ffffff;
}
.section__filters .filters__form-btn {
  margin-left: -2rem;
  border: none;
  background: transparent;
  padding: 0 0.5rem 0 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section__filters .filters__form-btn:hover > svg > path {
  fill: rgba(0, 0, 0, 0.2);
}
.section__filters .filters__list {
  position: relative;
  z-index: 9;
  display: none;
  border-width: 0 1px 1px 1px;
  border-color: rgba(0, 0, 0, 0.5019607843);
  border-style: solid;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 40%;
  padding: 1rem 0;
  background-color: #ffffff;
}
.section__filters .filters__list.show {
  display: block;
}
.section__filters .filters__item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.section__filters .filters__item:hover {
  background-color: #f2f2f2;
}
.section__filters .filters__recents {
  position: relative;
  top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 0.5rem;
}
.section__filters .filters__recents-heading {
  display: none;
  font-weight: 400;
}
.section__filters .filters__recents-heading.show {
  display: block;
}
.section__filters .filters__recents-list {
  padding: 0.5rem 0;
}
.section__filters .filters__recents-list.show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section__filters .filters__recents-list > li {
  margin-right: 2rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  width: -moz-max-content;
  width: max-content;
}

.section__gallery {
  position: relative;
  top: 2rem;
  padding: 0 3rem;
  width: 100%;
}
.section__gallery .gallery__subheading {
  margin-top: 2rem;
}
.section__gallery .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
.section__gallery .gallery__image {
  max-width: 500px;
  max-height: 500px;
}
.section__gallery .gallery__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__gallery .lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section__gallery .lightbox__img {
  display: block;
  width: 60%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.section__gallery .lightbox__img.zoom-in {
  animation: zoomIn 0.5s;
}
.section__gallery .lightbox__img.zoom-out {
  animation: zoomOut 0.5s;
}
.section__gallery .lightbox__btn {
  position: absolute;
  border: none;
}
.section__gallery .lightbox__btn-close {
  top: 3rem;
  left: 3rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section__gallery .lightbox__btn-close:hover {
  opacity: 50%;
}
.section__gallery .lightbox__btn-prev, .section__gallery .lightbox__btn-next {
  top: 50%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.section__gallery .lightbox__btn-prev {
  left: 10%;
}
.section__gallery .lightbox__btn-prev:hover {
  opacity: 50%;
}
.section__gallery .lightbox__btn-next {
  right: 10%;
}
.section__gallery .lightbox__btn-next:hover {
  opacity: 50%;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
body.loaded .loader-wrapper {
  visibility: hidden;
}
body.loaded .loader {
  opacity: 0;
}

.loader-wrapper {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: white;
}
.loader-wrapper .loader {
  position: relative;
  top: 40vh;
  font-size: 5rem;
  font-weight: 700;
}
.loader-wrapper .loader::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5rem;
  border-left: 2px solid black;
  background-color: white;
  animation: animate 3s steps(7) infinite;
}

.container {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  position: relative;
  top: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  margin: 2rem 0;
}

.subheading {
  font-weight: 400;
}

@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}/*# sourceMappingURL=main.css.map */